# Google Sheets Configuration
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# LINE Configuration
LINE_CHANNEL_ACCESS_TOKEN=ej7BKKcnSBmZ8rjthBBckrj+DHOVG7ikC7xaP5dwC0a7f3Ehj/hsoJwSI1ECBQ05Yeo/W7qt96WAQVKLJ3BJgaVR/h7ETGTgECf3H7GrrlFMhmUS97pwI29SAS0umcna0NHu98hBTiolCi8oB/CwPQdB04t89/1O/w1cDnyilFU=
LINE_ADMIN_USER_ID=Ufe0c7b62214f28847e54440cb58e7267
LIFF_ID=2001660324-RmYPaWAj
